{% extends 'base.html' %}

{% block content %}

<h1>Categoria: {{ ganhador.categoria }}</h1>
<h3>Categoria Canônica: <a href="{{url_for('categoria', id=ganhador.categoria_id)}}">{{ ganhador.categoria_canonica }}</a></h3>
<p>
    <a href="{{ url_for('cerimonia', id=ganhador.cerimonia_id) }}">{{ ganhador.cerimonia_id }}{{suffix}} OSCARS | {{ ganhador.ano }}</a>
</p>


<h2>
    Ganhador: <a href="{{url_for('nomeado', id=ganhador.nomeado_id)}}">{{ ganhador.nome }}</a> (<a href="{{url_for('filme', id=ganhador.filme_id)}}">{{ ganhador.filme_nome }}</a>)
</h2>

<table>
    <tr>
        <th>Nomeações</th>
    </tr>
    {% for n in nomeacoes %}
    <tr>
        <td>
            <a href="{{url_for('nomeacao', id=n.nomeacao_id)}}">{{ n.nome }} ({{ n.filme_nome }})</a> 
        </td>
    </tr>
    {% endfor %}
</table>
    

{% endblock %}
