{% extends 'base.html' %}


{% block content %}
<h1>CATEGORIA CANÔNICA</h1>
<h2>{{ categoria_canonica }}</h2>
<h3>
    Classe: {{ classe }}
    <br>
    Adicionada em {{ ano }}
</h3>

<table>
    <tr>
        <th>
            Nome Utilizados
        </th>
        <th>
            Ano
        </th>
    </tr>

    {% for c in categoria %}

    <tr>
        <td>
            <a href="{{ url_for('categoria_ano', id=c.categoria_ano_id) }}">{{ c.categoria }}</a>
        </td>
        <td>
            <a href="{{ url_for('cerimonia', id=c.cerimonia_id) }}">{{ c.ano }}</a>
        </td>
    </tr>   

    {% endfor %}

</table>

{% endblock %}
