{% extends 'base.html' %}

{% block content %}

<h1>Categoria: {{ ganhador[0].categoria }}</h1>
<h3>Categoria Canônica: <a href="{{url_for('categoria', id=ganhador[0].categoria_id)}}">{{ ganhador[0].categoria_canonica }}</a></h3>
<p>
    <a href="{{ url_for('cerimonia', id=ganhador[0].cerimonia_id) }}">{{ ganhador[0].cerimonia_id }}{{suffix}} OSCARS | {{ ganhador[0].ano }}</a>
</p>


<h2>
    Ganhador{% if ganhador|length > 1 %}es{% endif %}: 
    {% for i in range(nomeacoes|length) %}
    <tr>
        <td>
            <a href="{{url_for('nomeacao', id=ganhador[i].nomeacao_id)}}">
                    {% for j in range(nomeados[i]['nomes']|length) %}
                        {% if j > 0 %}, {% endif %}
                        {{ nomeados[i]['nomes'][j] }}
                    {% endfor %}
                    {% if ganhador[i].filme_id and nomeados[i]['nomeados_id'][0] %}
                        ({{ ganhador[i].filme_nome }})
                    {% else %}
                        {% if ganhador[i].filme_id %}
                            {{ ganhador[i].filme_nome }}
                        {% endif %}
                    {% endif %}
            </a> 
        </td>
    </tr>
    {% endfor %}
</h2>

<table>
    <tr>
        <th>Nomeações</th>
    </tr>
    {% for i in range(nomeacoes|length) %}
    <tr>
        <td>
            <a href="{{url_for('nomeacao', id=nomeacoes[i].nomeacao_id)}}">
                    {% for j in range(nomeados[i]['nomes']|length) %}
                        {% if j > 0 %}, {% endif %}
                        {{ nomeados[i]['nomes'][j] }}
                    {% endfor %}
                    {% if nomeacoes[i].filme_id and nomeados[i]['nomeados_id'][0] %}
                        ({{ nomeacoes[i].filme_nome }})
                    {% else %}
                        {% if nomeacoes[i].filme_id %}
                            {{ nomeacoes[i].filme_nome }}
                        {% endif %}
                    {% endif %}
            </a> 
        </td>
    </tr>
    {% endfor %}
</table>
    

{% endblock %}
