{% extends 'base.html' %}

{% block header_nav %}
<p>
    <a href="{{url_for('categorias')}}">BACK</a>
</p>
    
{% endblock %}

{% block content %}

<h1>{{ categoria[0].categoria_canonica }}</h1>
<h2>Classe: {{categoria[0].classe}}</h2>
<h2>Adicionada em {{ categoria[0].ano }}</h2>

<table>
    <tr>
        <th>
            Nome Utilizados
        </th>
        <th>
            Ano
        </th>
    </tr>

    {% for c in categoria %}

    <tr>
        <td>
        <a href="{{ url_for('categoria_ano', id=c.categoria_ano_id) }}">{{ c.categoria }}</a>
        </td>
        <td>
            {{ c.ano }}
        </td>
    </tr>   

    {% endfor %}

</table>

{% endblock %}
