{% extends 'base.html' %}

{% block header_nav %}
<p>
    <a href="{{url_for('cerimonias')}}">CERIMÔNIAS</a>
</p>
    
{% endblock %}

{% block content %}

<h1>THE {{ id }}{{ suffix }} ACADEMY AWARDS | {{ ano }}</h1>

<table>
    <tr>
        <th>
            Categoria
        </th>
        <th>
            Ganhador
        </th>
        <th>
            Projeto
        </th>
    </tr>

    {% for c in cerimonia %}

    <tr>
        <td>
        <a href="{{ url_for('categoria', id=c.categoria_ano_id) }}">{{ c.categoria }}</a>
        </td>
        <td>
            {{ c.nome }}
        </td>
        <td>
            {{ c.filme_nome }}
        </td>
    </tr>   

    {% endfor %}

</table>

{% endblock %}
