{% extends 'base.html' %}

{% block content %}

<h1>CERIMÔNIAS</h1>

<table>
    <tr>
        <th>
            ID
        </th>
        <th>
            Ano
        </th>
        <th>
            Categorias
        </th>
        <th>
            Nomeações
        </th>
    </tr>

    {% for c in cerimonias %}

    <tr>
        <td>
            <a href="{{ url_for('cerimonia', id=c.cerimonia_id) }}">{{ c.cerimonia_id }}</a>
        </td>
        <td>
            <a href="{{ url_for('cerimonia', id=c.cerimonia_id) }}">{{ c.ano }}</a>
        </td>
        <td>
            {{ c.categorias }}
        </td>
        <td>
            {{ c.nomeacoes }}
        </td>
    </tr>   

    {% endfor %}

</table>

{% endblock %}
