{% extends 'base.html' %}

{% block content %}

<h1>THE {{ id }}{{ suffix }} ACADEMY AWARDS | {{ ano }}</h1>

<table>
    <tr>
        <th>
            Categoria
        </th>
        <th>
            Ganhador
        </th>
        <th>
            Projeto
        </th>
    </tr>

    {% for i in range(cerimonia|length) %}

    <tr>
        <td>
            <a href="{{ url_for('categoria_ano', id=cerimonia[i].categoria_ano_id) }}">{{ cerimonia[i].categoria }}</a>
        </td>
        <td>
            {% for j in range(nomeados[i]['nomeados_id']|length) %}
                {% if nomeados[i]['nomeados_id'][0] %}
                    <a href="{{ url_for('nomeado', id=nomeados[i]['nomeados_id'][j]) }}">{{ nomeados[i]['nomes'][j] }}</a>
                {% else %}
                    {% if cerimonia[i].nome %}
                        <a href="{{ url_for('pais', id=cerimonia[i].nome) }}">{{ cerimonia[i].nome }}</a>
                    {% else %}
                        - 
                    {% endif %}
                {% endif %}
                <br>
            {% endfor %}
        </td>
        <td>
            {% if nomeados[i]['filmes_id'][0] %}
            {% for j in range(nomeados[i]['filmes_id']|length) %}
            <a href="{{ url_for('filme', id=nomeados[i]['filmes_id'][j]) }}">{{ nomeados[i]['filme_nomes'][j] }}</a>
            <br>
            {% endfor %}
            {% else %}
                -  
            {% endif %}
        </td>
    </tr>   

    {% endfor %}

</table>

{% endblock %}
