{% extends 'base.html' %}

{% block content %}

<h1>THE {{ id }}{{ suffix }} ACADEMY AWARDS | {{ ano }}</h1>

<table>
    <tr>
        <th>
            Categoria
        </th>
        <th>
            Ganhador
        </th>
        <th>
            Projeto
        </th>
    </tr>

    {% for c in cerimonia %}

    <tr>
        <td>
            <a href="{{ url_for('categoria_ano', id=c.categoria_ano_id) }}">{{ c.categoria }}</a>
        </td>
        <td>
            <a href="{{ url_for('nomeado', id=c.nomeado_id) }}">{{ c.nome }}</a>
        </td>
        <td>
            <a href="{{ url_for('filme', id=c.filme_id) }}">{{ c.filme_nome }}</a>
        </td>
    </tr>   

    {% endfor %}

</table>

{% endblock %}
