{% extends 'base.html' %}

{% block content %}

<h1>{{fnome}}</h1>

<p>
    <a href="{{ url_for('cerimonia', id=cerimonia) }}">{{ cerimonia }}{{suffix}} OSCARS | {{ ano }}</a>
</p>

<table>
    <tr>
        <th>
            Categoria
        </th>
        <th>
            Nomeado(s)
        </th>
        <th>
            Resultado
        </th>
    </tr>
    {% for i in range(filme|length) %}
    <tr>
        <td>
            <a href="{{ url_for('categoria_ano', id=filme[0].categoria_ano_id) }}">{{ filme[0].categoria }}</a>
        </td>
        <td>
            {% if nomeados[i]['nomeados_id'][0] %}
                {% for j in range(nomeados[i]|length) %}
                    {%- if j > 0 -%}, {% endif %}
                    <a href="{{ url_for('nomeado', id=nomeados[i]['nomeados_id'][j]) }}">{{ nomeados[i]['nomes'][j] }}</a>
                {% endfor %}
            {% else %}
                <a href="{{ url_for('pais', id=filme[0].nomeacao) }}"> {{filme[0].nomeacao}}
          {% endif %}
        </td>
        <td>
            {% if filme[i].ganhou == '1.0' %}
            Ganhou
            {% else %}
            Perdeu
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}