{% extends 'base.html' %}

{% block content %}

<h1>{{fnome}}</h1>

<p>
    <a href="{{ url_for('cerimonia', id=cerimonia) }}">{{ cerimonia }}{{suffix}} OSCARS | {{ ano }}</a>
</p>

<table>
    <tr>
        <th>
            Categoria
        </th>
        <th>
            Nomeado(s)
        </th>
        <th>
            Resultado
        </th>
    </tr>
    {% for f in filme %}
    <tr>
        <td>
            <a href="{{ url_for('categoria', id=f.categoria_ano_id) }}">{{ f.categoria }}</a>
        </td>
        <td>
            {% if f.nomeado_id %}
                <a href="{{ url_for('nomeado', id=f.nomeado_id) }}">
                    {{ f.nomeado }}
                </a>
            {% else %}
                <a href="{{ url_for('pais', id=f.nomeacao) }}"> {{f.nomeacao}}
          {% endif %}
        </td>
        <td>
            {% if f.ganhou == '1.0' %}
            Ganhou
            {% else %}
            Perdeu
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}