{% extends 'base.html' %}

{% block content %}

<h1>THE OSCARS DATABASE</h1>
<p>
    <a class="button" href="{{url_for('cerimonias')}}">CERIMÔNIAS</a>
</p>
<p>
    <a class="button" href="{{url_for('filmes')}}">FILMES</a>
</p>
<p>
    <a class="button" href="{{url_for('categorias')}}">CATEGORIAS</a>
</p>
<p>
    <a class="button" href="{{url_for('categorias_ano')}}">CATEGORIAS-ANO</a>
</p>
<p>
    <a class="button" href="{{url_for('nomeacoes')}}">NOMEAÇÕES</a>
</p>
<p>
    <a class="button" href="{{url_for('nomeados')}}">NOMEADOS</a>
</p>
<p>
    <a class="button" href="{{url_for('concorre')}}">CONCORRE</a>
</p>
<h2>QUESTÕES SQL</h2>
<p>
    <a class="button" href="{{url_for('paises_mais_premiados')}}">1 - PAÍSES MAIS PREMIADOS</a>
</p>
<p>
    <a class="button" href="{{url_for('filmes_mais_premiados')}}">2 - FILMES MAIS PREMIADOS</a>
</p>
<p>
    <a class="button" href="{{url_for('filmes_perfeitos')}}">3 - FILMES PERFEITOS</a>
</p>
<p>
    <a class="button" href="{{url_for('maior_menor')}}">4 - MAIOR-MENOR</a>
</p>
<p>
    <a class="button" href="{{url_for('nomes_mais_comuns')}}">5 - NOMES MAIS COMUNS</a>
</p>
<p>
    <a class="button" href="{{url_for('taxa_de_vitoria')}}">6 - TAXA DE VITÓRIAS</a>
</p>
<p>
    <a class="button" href="{{url_for('filmes_mais_esnobados')}}">7 - FILMES MAIS ESNOBADOS</a>
</p>
<p>
    <a class="button" href="{{url_for('empresas_mais_nomeadas')}}">8 - EMPRESAS MAIS NOMEADAS</a>
</p>
<p>
    <a class="button" href="{{url_for('mais_vitorias_variadas')}}">9 - MAIS VITÓRIAS DISTINTAS</a>
</p>
<p>
    <a class="button" href="{{url_for('smiths')}}">10 - SMITHS</a>
</p>
{% endblock %}
