{% extends 'base.html' %}

{% block content %}

<h1>NOMEADOS AO OSCAR</h1>

<table>
    <tr>
        <th>Nome</th>
        <th>ID</th>
    </tr>
    {% for i in range(nomeados|length) %}
    <tr>
        <td>
            {% for nome in nomes[i] %}
                <a href="{{url_for('nomeado', id=nomeados[i].nomeado_id)}}">{{ nome }}</a>
                <br>
            {% endfor %}
        </td>
        <td>
            {% for id in ids[i] %}
                {{ id }}
                <br>
            {% endfor %}
        </td>
        
    </tr>
    {% endfor %}
</table>




{% endblock %}