{% extends 'base.html' %}

{% block content %}

<h1>NOMEAÇÕES</h1>

<table>
    <tr>
        <th>
            ID
        </th>
        <th>
            Categoria-Ano
        </th>
        <th>
            Nome
        </th>
        <th>
            Filme
        </th>
        <th>
            Ganhou
        </th>
    </tr>

    {% for i in range(nomeacoes|length) %}

    <tr>
        <td>
            <a href="{{ url_for('nomeacao', id=nomeacoes[i].nomeacao_id) }}">{{ nomeacoes[i].nomeacao_id }}</a>
        </td>
        <td>
            <a href="{{ url_for('categoria_ano', id=nomeacoes[i].categoria_ano_id) }}">{{ nomeacoes[i].categoria }}</a>
        </td>
        <td>
        {% if nomeacoes[i].nome != 'nan' %}
            {% for j in range(nomeados[i]|length) %}
                {% if nomeados[i][j] != '?' %}
                    <a href="{{url_for('nomeado', id=nomeados_id[i][j])}}">{{ nomeados[i][j] }}</a>
                {% else %}
                {{ nomeados[i][j] }}
                {% endif %}
            <br>
            {% endfor %}
        {% else %}
            -
        {% endif %}
        </td>
        <td>
            <a href="{{ url_for('filme', id=nomeacoes[i].filme_id) }}">{{ nomeacoes[i].filme_nome }}</a>
        </td>
        <td>
            {% if nomeacoes[i].ganhou != 'nan' %}
            Ganhou
            {% else %}
            Perdeu
            {% endif %}
        </td>
    </tr>   

    {% endfor %}

</table>

{% endblock %}
