{% extends 'base.html' %}

{% block content %}

<h1>NOMEAÇÃO</h1>

<table>
    <tr>
        <th>ID</th>
        <td>{{nomeacao[0].nomeacao_id}}</td>
    </tr>

    {% if temNome %}
    <tr>
        <th>Nome</th>
        <td>{{nomeacao[0].nome}}</td>
    </tr>
    {% endif %}

    {% if temNome %}
    <tr>
        <th>Nomeado{% if nomeacao[0]|length > 1 %}s{% endif %}</th>
        <td>
            {% if nomeacao[0].nomeado_id %}
                {%- for i in range(nomeacao|length) -%}
                    {%- if i > 0 %}, {% endif -%}
                <a href="{{url_for('nomeado', id=nomeacao[i].nomeado_id)}}">{{ nomes[i] }}</a>
                {%- endfor %}
            {% else %}
            <a href="{{url_for('pais', id=nomeacao[0].nome)}}">{{nomeacao[0].nome}}</a>
            {% endif %}
        </td>
    </tr>
    {% endif %}

    {% if temProjeto %}
    <tr>
        <th>Filme</th>
        <td><a href="{{url_for('filme', id=nomeacao[0].filme_id)}}">{{nomeacao[0].filme_nome}}</a></td>
    </tr>
    {% endif %}

    {% if temNota %}
    <tr>
        <th>Nota</th>
        <td> {{nomeacao[0].nota}}</td>
    </tr>
    {% endif %}

    {% if temDetalhe %}
    <tr>
        <th>Detalhe</th>
        <td>{{nomeacao[0].detalhe}}</td>
    </tr>
    {% endif %}

    {% if temCitation %}
    <tr>
        <th>Citação</th>
        <td>{{nomeacao[0].citation}}</td>
    </tr>
    {% endif %}

    {% if temMultiFilme %}
    <tr>
        <th>Multi-Filme</th>
        <td>Verdadeiro</td>
    </tr>
    {% endif %}
</table>
    
{% endblock %}