{% extends 'base.html' %}

{% block content %}

<h1>PAÍSES MAIS PREMIADOS</h1>

<table>
    <tr>
        <th>
            País
        </th>
        <th>
            Vitórias
        </th>
        <th>
            Nomeações
        </th>
    </tr>
    {% for i in paises%}
    <tr>
        <td>
             <a href="{{url_for('pais', id=i['Pais'])}}">{{ i['Pais'] }}</a>
        </td>
        <td>
            {{i['vitorias']}}
        </td>
        <td>
            {{i['Nomeacoes']}}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}