{% extends 'base.html' %}

{% block content %}

<h1>Paises</h1>

<table>
    <tr>
        <th>
            Pais
        </th>
        <th>
            Vitorias
        </th>
        <th>
            Nomeacoes
        </th>
    </tr>
    {% for i in paises%}
    <tr>
        <td>
             <a href="{{url_for('pais', id=i['Pais'])}}">{{ i['Pais'] }}</a>
        </td>
        <td>
            {{i['vitorias']}}
        </td>
        <td>
            {{i['Nomeacoes']}}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}